body {
    background-color:#E0E0E0;
}

#main {
    display:block;
    margin:0 auto;
    width:30%;
}

h1 {
    text-align:center;
}

h2 {
    text-align:center;
}
td {
    padding:3px;
}

tr {
    text-align:left;
}

tr:nth-child(even){
    background-color:#EDEDED;
}

table {
    border:solid 1px black;
}

#nav {
    margin-left:22%;
}

#nav a {
    margin-left:20px;
}

#input-form {
    margin:0 auto;
    display:block;
    width:30%;
}

#input-form-BåList {
    margin:0 auto;
    display:block;
    width:35%;
}

#input-form-BList {
    margin:0 auto;
    margin-left:50px;
}

a:link {color:#0645AD;}
a:visited {color:#0645AD;}
a:hover   {color:#04238B;}
a:active  {color:#020168;}